/* BASE STYLES */
*,
*::before,
*::after {
    box-sizing: border-box;
}
.section {
    padding-top: 60px;
    padding-bottom: 60px;

}
.container {
    max-width: 1158px;
    padding-left: 15px;
    padding-right: 15px;
    margin-left: auto;
    margin-right: auto;
}
:root {
    --iris: #4D5AE5;
    --ocean: #404BBF;
    --navyblue: #2e2f42;
    --slate: #434455;
    --white: #FFFFFF;
    --cloud: #F4F4FD;
    --cornflover: #E7E9FC;

    --indent: 24px;
    --items: 3;
}
body {
    font-family: "Roboto", sans-serif;
    color: var(--slate);
    background-color: var(--white);
}
h1,h2,h3,h4,h5,h6,p {
    display: block;
    margin: 0;
}
.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}
.link {
    text-decoration: none;
}
ol,
ul {
    list-style-type: none;
}
.list {
    list-style: none;
    margin: 0;
    padding: 0;
}
button {
    font-family: inherit;
    cursor: pointer;
}
img {
    display: block;
    max-width: 100%;
    height: auto;
}

/* HEADER STYLES */
.header {
    background-color: inherit;
    border-bottom: 1px solid var(--cornflover);
}
.logo {
    font-family: "Raleway", sans-serif;
    font-weight: 800;
    font-size: 18px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: var(--iris);

    margin-right: 76px;
}
.accent-dark {
    color: var(--navyblue);
}
.header-container {
    display: flex;
    justify-content: space-between;
}
.header-nav {
    display: flex;
    align-items: center;
}
.nav-list {
    display: flex;
    gap: 40px;
    align-items: center;
    padding-top: 24px;
    padding-bottom: 24px;
}
.nav-link {
    color: var(--navyblue);
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;

    padding-top: 24px;
    padding-bottom: 24px;
}
.nav-link:hover,
.nav-link:active {
    color: var(--ocean);
}
.nav-link:focus {
    color: var(--ocean);
}
.address {
    font-style: normal;
    display: flex;
}
.address-list {
    display: flex;
    gap: 40px;
    align-items: center;
}
.address-link {
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: var(--slate);
}
.address-link:hover,
.address-link:active {
    color: var(--ocean);
}
.address-link:focus {
    color: var(--ocean);
}

/* HERO STYLES */
.hero-sect {
    padding-top: 0;
    padding: 188px 0;
    background-color: var(--navyblue);
    border-image: ;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}
.title {
    font-size: 56px;
    line-height: 1.07;
    text-align: center;
    letter-spacing: 0.02em;
    color: var(--white);

    display: block;
    margin: 0 auto;
    max-width: 496px;
    margin-bottom: 32px;
}
.order-btn {
    background-color: var(--iris);
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.04em;
    color: var(--white);
    cursor: pointer;

    display: block;
    min-width: 169px;
    margin: 0 auto;
    border-radius: 4px;
    border: none;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
    padding: 16px 32px;
}
.order-btn:hover,
.order-btn:active {
    background-color: var(--ocean);
}
.order-btn:focus {
    background-color: var(--ocean);
}
.list {
    list-style: none;
}

/* BENEFITS STYLES */
.benefits {
    padding: 120px 0;
}
.benefits-list {
    display: flex;
    gap: 24px;
}
.benefits-list-item {
    flex-basis: calc((100% - 72px) / 4);
}
.third-title {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.4px;
    color: var(--navyblue);
    margin-bottom: 8px;
    text-align: start;
}
.text {
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: var(--slate);
    text-align: start;
}

/* FITCHES STYLES */
.fitches-section {
    padding-top: 0;
    padding-bottom: 120px;
}
.second-title {
    font-size: 36px;
    line-height: 1.11;
    letter-spacing: 0.72px;
    text-align: center;
    color: var(--navyblue);
    text-transform: capitalize;

    margin-bottom: 72px;
}
.list {
    list-style: none;
}
.card-set {
    display: flex;
    flex-wrap: wrap;
    gap: 24px;
}
.card-set-item {
    flex-basis: calc((100% - (24px * 2)) / 3);
}
/* TEAM STYLES */
.team {
    background-color: var(--cloud);
    padding: 120px 0;
}
.list {
    list-style: none;
}
.card-set-team {
    flex-basis: calc((100% - var(--indent) * 3) / 4);
}
.team-list {
    display: flex;
    gap: 24px;
}
.team-card {
    background-color: var(--white);
    border-bottom-left-radius: 4px;
    border-bottom-right-radius: 4px;
    box-shadow: 0px 2px 1px 0px rgba(46, 47, 66, 0.08), 0px 1px 1px 0px rgba(46, 47, 66, 0.16), 0px 1px 6px 0px rgba(46, 47, 66, 0.08);
}
.card-label {
    padding: 32px 0;
}
.team-title {
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.4px;
    color: var(--slate);
    text-align: center;
    margin-bottom: 8px;
}
.team-text {
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: var(--slate);
    text-align: center;
}

/* FOOTER STYLES */
.footer {
    color: var(--cornflover);
    background-color: var(--navyblue);
    padding-top: 100px;
    padding-bottom: 100px;
}
.footer-container {
    display: block;
}

.accent-ligth {
    color: var(--cloud);
}
.foot-logo {
    display: inline-block;
    margin-bottom: 16px;
    margin-right: 0;
}
.footer-text {
    color: var(--cloud);
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    width: 264px;
}

/* PORTFOLIO FILTERS STYLES */
.filter-sect {
    padding-top: 96px;
    padding-bottom: 120px;
}
.filter-list {
    display: flex;
    gap: 24px;
    justify-content: center;
    margin-bottom: 72px
}
.list {
    list-style: none;
}
.filter-btn {
color: var(--iris);
background-color: var(--cloud);
font-family: "Roboto", sans-serif;
font-weight: 500;
font-size: 16px;
line-height: 1.5;
letter-spacing: 0.04em;
cursor: pointer;

border-radius: 4px;
border: 1px solid var(--cornflover);
padding: 12px 24px;
}
.filter-btn:hover,
.filter-btn:active {
    color: var(--white);
    background-color: var(--ocean);
    border: 1px solid transparent;
}
.filter-btn:focus {
    color: var(--white);
    background-color: var(--ocean);
    border: 1px solid transparent;
}
.link {
    text-decoration: none;
}
.card-list {
    display: flex;
    flex-wrap: wrap;
    column-gap: 24px;
    row-gap: 48px;
}
.serv-card {
    flex-basis: calc((100% - 48px) / 3);
}
.card-label-port {
    padding: 32px 16px;
    border: 1px solid var(--cornflover);
    border-top: none;
}
.title-port {
    font-family: inherit;
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.4px;
    color: var(--navyblue);

    margin-bottom: 8px;
}
.text-port {
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: var(--slate);
}